.signIn-main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  background-color: rgb(51, 51, 51);
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border: 0 !important;
  border-color: white !important;
  border-radius: 5px solid white !important;
}
