.sidebar-div {
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 2;
}

.logo-sidebar {
  width: 210px;
  padding-top: 20px;
}
.card {
  transition: all 0.9s ease;
}
.card:hover {
  background-color: #2b2b2b !important;
  cursor: pointer;
}
.hover-for-badge:hover .p-absolute-for-img {
  display: block !important;
}
.card:hover + .p-absolute-for-img {
  background-color: #2b2b2b !important;
  cursor: pointer;
  display: block;
}
.main-nav {
  position: fixed;
  z-index: 1;
  width: 82vw;

  right: 0;
  height: 60px;
}
.navbar {
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100vw;

  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-left: 150px;
  transition: all 0.4s ease;
}

.navbar.active {
  background-color: #181818 !important;
  color: white;
  position: fixed;
  z-index: 1 !important;
  padding-left: 150px;
  width: 100vw;

  right: 0;
  display: flex;
  justify-content: center;
  height: 70px;
}
.position-fixed-needed {
  position: fixed;
  left: -180px;
  top: -20px;
}

.main-background-color-1 {
  /* height: 2000px; */
  width: 100vw !important;
  background: #121212;
  background: -webkit-linear-gradient(
    to top,
    #121212 46%,
    #141414 66%,
    #121212 72%,
    #301917 79%,
    #401d1a 100%
  );
  background: -moz-linear-gradient(
    to top,
    #121212 46%,
    #141414 66%,
    #121212 72%,
    #301917 79%,
    #401d1a 100%
  );
  background: linear-gradient(
    to top,
    #121212 46%,
    #141414 66%,
    #121212 72%,
    #301917 79%,
    #401d1a 100%
  );
}

.main-background-color {
  background: #121212;
  background: -webkit-linear-gradient(
    to top,
    #121212 46%,
    #181818 66%,
    #191919 72%,
    #301917 79%,
    #401d1a 100%
  );
  background: -moz-linear-gradient(
    to top,
    #121212 46%,
    #181818 66%,
    #191919 72%,
    #301917 79%,
    #401d1a 100%
  );
  background: linear-gradient(
    to top,
    #121212 46%,
    #181818 66%,
    #191919 72%,
    #301917 79%,
    #401d1a 100%
  );
}

.nav-btn {
  border-radius: 99px;
}

.footer-div {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
}
/* .footer-main{
    background-color: #181818;
    height: 100px
} */

.main-nav-h6-text > h6 {
  font-size: 12px;
  margin-right: 40px;
  margin-bottom: 0px;
  cursor: pointer;
  color: white;
}
.main-nav-h6-text > h6 > a {
  color: black;
}
.main-nav-h6-text > h6:hover {
  color: rgb(231, 231, 231);
  /* border-bottom: 2px solid black; */
}

.music-player {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6rem;
  padding: 1em;
  color: #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

.song-bar {
  position: absolute;
  left: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  flex-shrink: 0;
  width: 4.5em;
  height: 4.5em;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist,
.card-album-title,
.card-artist-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title {
  color: #ddd;
}
.artist {
  color: #999;
}

.icons {
  display: flex;
  gap: 1em;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
  color: #999;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  color: white;
  font-size: 2em;
  border-radius: 50%;
}

.progress-container {
  width: 100%;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: rgb(199, 199, 199);
}
.shadow-needed {
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
  /* box-shadow: 0 28px 16px -26px rgba(0, 0, 0); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.following-needed {
  font-size: 12px;
  font-weight: bolder;
}
.following-needed:hover {
  background-color: transparent;
  border-color: white;
}

.progress {
  position: relative;
  height: 100%;
  width: 40%;
  background-color: grey;
}

.other-features {
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.volume-bar .progress-bar {
  width: 6em;
}

.music-player {
  color: #999;
}

td,
tr {
  color: black;
  font-size: 14px;
  border-color: #171717;
}

.artist-link,
.song-duration {
  font-size: 10px;
}

.progress-bar:hover .progress {
  background-color: #2d5;
}

.title:hover,
.artist:hover {
  text-decoration: underline;
}

i:hover {
  color: #ddd !important;
}

.play-pause:hover {
  transform: scale(1.1);
  color: #ddd;
}

/* .progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    
    width: 8em;
    height: 8em;
    right: 0px;
    border-radius: 50%;
    background-color: #ddd;
    transform: translate(50%, calc(2px - 50%));
}
 */
/* .volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
} */

@media (max-width: 50em) {
  .song-bar,
  .other-features {
    visibility: hidden;
  }
}

.hover-needed > p,
.hover-needed > a > p {
  margin-right: 20px;
  padding-left: 5px;
}

.hover-needed > p:hover,
.hover-needed > a > p:hover {
  background-color: #191919;
  border-radius: 5px;
  cursor: pointer;
}

.hover-needed > p:active {
  background-color: #191919;
  border-radius: 5px;
}

.bi-play-circle-fill::before {
  color: #1db954;
}
.sidebar-d-none-needed {
  padding: 0;
}

/* @media (max-width: 920px) {
  .responsive-needed {
    flex-direction: column;
  }
  .sidebar-div {
    position: relative;
  }
  .main-nav {
    position: relative;
  }
  .sidebar-d-none-needed {
    display: none !important;
  }
  .main-background-color {
    width: 100vw + 100px !important;
  }
} */
.p-relative-for-badge {
  position: relative;
}
.p-absolute-for-img {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: transparent !important;
  transition: all 0.9s ease;
  display: none;
}
.hover-for-dropdown-item:hover {
  background-color: grey;
  border-radius: 3px;
}
.d-none-block-love {
  color: transparent !important;
  transition: all 0.1s ease;
}
.single-album-hover-needed:hover {
  cursor: pointer;
  background-color: #343a40;
  border-radius: 5px;
}
.single-album-hover-needed:hover .d-none-block-love {
  color: white !important;
}
@media (max-width: 920px) {
  .sidebar-920-d-none {
    display: none;
  }
  .artist-main-image-banner {
    width: 100vw + 500px !important;
  }
}
