.sidebar-div {
  height: 100vh;
  background-color: black;
}

.logo-sidebar {
  width: 70%;
  padding-top: 20px;
}

.main-nav {
  position: fixed;
  z-index: 1;
  width: 78vw;
  height: 60px;
}

.nav-btn {
  border-radius: 99px;
}

.footer-div {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* .footer-main{
    background-color: #181818;
    height: 100px
} */

.main-nav-h6-text > h6 {
  font-size: 12px;
  margin-right: 40px;
  margin-bottom: 0px;
  cursor: pointer;
}
.main-nav-h6-text > h6:hover {
  color: rgb(66, 66, 66);
  border-bottom: 2px solid black;
}

.music-player {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 6rem;
  padding: 1em;
  color: #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

.song-bar {
  position: absolute;
  left: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  flex-shrink: 0;
  width: 4.5em;
  height: 4.5em;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title {
  color: #ddd;
}
.artist {
  color: #999;
}

.icons {
  display: flex;
  gap: 1em;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
  color: #999;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  color: white;
  font-size: 2em;
  border-radius: 50%;
}

.progress-container {
  width: 100%;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #999;
}

.progress {
  position: relative;
  height: 100%;
  width: 0;
  background-color: #ddd;
}

.other-features {
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.volume-bar .progress-bar {
  width: 6em;
}

.music-player {
  color: #999;
}

td,
tr {
  color: black;
  font-size: 14px;
  border-color: #171717;
}

.artist-link,
.song-duration {
  font-size: 10px;
}

.progress-bar:hover .progress {
  background-color: #2d5;
}

.title:hover,
.artist:hover {
  text-decoration: underline;
}

i:hover {
  color: #ddd !important;
}

.play-pause:hover {
  transform: scale(1.1);
  color: #ddd;
}

/* .progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    
    width: 8em;
    height: 8em;
    right: 0px;
    border-radius: 50%;
    background-color: #ddd;
    transform: translate(50%, calc(2px - 50%));
}
 */
/* .volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
} */

@media (max-width: 50em) {
  .song-bar,
  .other-features {
    visibility: hidden;
  }
}
